<%= simple_form_for(product, local: true, remote: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :price %>
  </div>

  <div class="field">
    <%= form.input :fulfillment_center_ids,
                   collection: FulfillmentCenter.all,
                   input_html: {class: "js-multiple", multiple: true},
                   label: "Selecciona el fulfillment"

    %>
  </div>


  <div class="field">
    <%= form.input :distribution_center_ids,
                   collection: DistributionCenter.all,
                   input_html: {class: "js-multiple", multiple: true},
                   label: "Selecciona el centro de distribución"

    %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
